streamlit
streamlit-lottie
langchain-google-genai
langchain-core
langchain-community
pydantic
python-dotenv
google-generativeai
geopy
requests
Pillow
plotly
pandas
bcrypt
pygame
streamlit-modal
streamlit_js_eval
streamlit==1.48.0
google-generative-ai==0.8.3