streamlit
streamlit-lottie
langchain-google-genai
langchain-core
langchain-community
pydantic
python-dotenv
google-generativeai
geopy
requests
Pillow
plotly
pandas
bcrypt
pygame
streamlit-modal
streamlit_js_eval
scikit-learn
pandas
numpy
python-dotenv
PyJWT
statsmodels
prophet
timezonefinder
meteostat
textblob
transformers
torch
